body{
    background: black;
}

h1 {
    color: greenyellow;
    font-size: 30px;
    font-family: cursive, monospace, Roboto;
}

p {
    color: greenyellow;
    font-size: 50px;
    font-family: cursive, monospace, Roboto;
}