body {
    font-family: cursive;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header h1 {
    display: inline-block;
    margin-left: 20px;
}
section {
    padding: 60px 20px;
}

.section1 {
    position: static;
    background-color: rgb(119, 22, 22);
    margin-top: 80px;
}

.section2 {
    position: relative;
    background-color: #da2727;
    margin-top: 40px;
}

.relative-box {
    position: relative;
    top: -30px;
    left: 50px;
    background-color: rgb(221, 29, 157);
    padding: 20px;
}

.section3 {
    position: relative;
    background-color: #8400ff;
    margin-top: 40px;
    padding: 20px;
}

.absolute-box {
    position: absolute;
    top: 50px;
    left: 100px;
    background-color: #f11613;
    padding: 20px;
}

.section4 {
    background-color: #dcdcdc;
    padding: 20px;
    margin-top: 40px;
}

.sticky-box {
    position: sticky;
    top: 0;
    background-color: #140101;
    padding: 10px;
    border: 2px solid #ccc;
}
