body {
    background: linear-gradient(135deg, #ffae00, #9b0606);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
