table {
    width: 100%;
    border-collapse: collapse;
}
th {
    background-color: blue;
    color: white;
    padding: 8px;
}
td {
    padding: 8px;
    text-align: center;
}
tr:nth-child(even) td {
    background-color: #b6f2b6;
}
tr:nth-child(odd) td {
    background-color: #f2b6b6;
}
tr:hover {
    background-color: #cccccc;
    color: white;
}