* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace, cursive;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #4CAF50;
    padding: 20px 0;
    color: white;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

main {
    padding: 40px 0;
}

section {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(253, 0, 0, 0.1);
}


@media (max-width: 768px) {
    header h1 {
        font-size: 24px;
    }

    main {
        padding: 20px 0;
    }

    section {
        padding: 15px;
    }
}
