a:link {
    color: darkorange;
    text-decoration: forestgreen;
}

a:visited {
    color: red;
}

a:hover {
    color: rgb(68, 0, 255);
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}